<footer class="bg-white p-4 sm:p-6 lg:p-8 mt-auto border-t border-gray-200">
  <div class="mx-auto max-w-screen-xl">
    <div class="sm:flex sm:items-center sm:justify-between">
      <span class="text-sm text-gray-500 sm:text-center">© {{ currentYear }} <a href="#" class="hover:underline">SchoolDMS</a>. All Rights Reserved.</span>
      <div class="flex mt-4 space-x-6 sm:justify-center sm:mt-0">
        <a href="#" class="text-gray-500 hover:text-gray-900">
          Support
        </a>
        <a href="#" class="text-gray-500 hover:text-gray-900">
          Privacy Policy
        </a>
      </div>
    </div>
  </div>
</footer>
